body{
    background-color: hsl(185, 75%, 39%);
    font-family: 'Kumbh Sans', sans-serif;
    text-align: center;
}
hr{
    border-top: 1px  solid hsl(0, 0%, 59%);
    border-bottom: none;
    border-left: none;
    border-right: none;
    height: 1px;
    
}
img{
    border-radius: 20px 20px 0 0;
}
span{
    font-weight: 700;
}

.container{
    width: 500px;
    margin: 0 auto;
}
.card{
    border-radius: 20px;
    width: 350px;
    height: auto;
    margin: 25% auto;
    background-color: white;
}
.card-sub-container{
    display: flex;
    justify-content: space-around;
    padding: 15px;
}
.user-picture{
    border-radius: 50px;
    border:5px solid white;
    position: relative;
    bottom: 50px;
    
}
.user-info{
    display: block;
}
.info{
    font-weight: 400;
    color: hsl(227, 10%, 46%);
}
.background-1{
    position: absolute;
    right: 100px;
    bottom:300px;
    z-index: -1;
}
.background{
    position: absolute;
    left: 100px;
    top:300px;
    z-index: -1;
}


